[project]
name = "OHW-py"
version = "0.1.0"
description = "Add a short description here"
authors = ["Alex Kerney <abk@mac.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "osx-64", "linux-aarch64"]

[tasks]
lab = "jupyter lab --port=8080 --ip=0.0.0.0"

[dependencies]
python = "3.12.*"
pangeo-notebook = "2024.08.07.*"
pooch = ">=1.8.2,<1.9"
curl = ">=8.7.1,<8.8"
git = "*"
wget = ">=1.21.4,<1.22"
tar = ">=1.34,<2"
vim = ">=9.1.611,<9.2"
gh = "*"
nano = ">=8.1,<9"
gh-scoped-creds = ">=4.1,<5"
zarr = ">=2.18.2,<2.19"
netcdf4 = "*"
s3fs = "*"
ipykernel = "*"
flox = ">=0.9.8,<0.10"
opt_einsum = ">=3.3.0,<3.4"
numbagg = ">=0.8.1,<0.9"
fsspec = ">=2024.6.1"
gcsfs = ">=2024.6.1,<2024.7"
jupyterlab-git = ">=0.50.1,<0.51"
tldr = ">=3.3.0,<3.4"
pixi-kernel = ">=0.5.2,<0.6"
zip = ">=3.0,<4"

[feature.ohwes24intermed-Charles.dependencies]
basemap = "*"
basemap-data = "*"
cartopy = "*"
matplotlib = "*"
netcdf4 = "*"
numpy = "*"
rasterstats = "*"

[feature.ohwes24intermed-LauraYeray.dependencies]
cartopy = "*"
cf_xarray = "*"
cmocean = "*"
erddapy = "*"
folium = "*"
matplotlib = "*"
netcdf4 = "*"
palettable = "*"
scipy = "*"
seaborn = "*"
seawater = "*"
xarray = "*"
papermill = ">=2.6.0,<3"

[feature.ohwes24intermed-Julia.dependencies]
copernicusmarine = "*"

[feature.ohwes-langpacks.dependencies]
jupyterlab-language-pack-es-es = "*"
jupyterlab-language-pack-pt-br = "*"

[feature.ohwes24hackaton-Laura.dependencies]
parcels = "*"

[feature.ohwes24hackaton-Julia.dependencies]
earthaccess = "*"


[environments]
default = {features = ["ohwes-langpacks", "ohwes24intermed-Charles", "ohwes24intermed-LauraYeray", "ohwes24intermed-Julia", "ohwes24hackaton-Laura", "ohwes24hackaton-Julia"]}
